<input type="checkbox" class="sidebar-checkbox" id="sidebar-checkbox">

<div class="sidebar" id="sidebar">
  <div class="sidebar-item">
    <p>{{ site.description }}</p>
  </div>
  <nav class="sidebar-nav" role="navigation">
    <a class="sidebar-nav-item" href="http://github.com/i-am-tom">
      <i class="fa fa-github fa-lg fa-fw"></i> GitHub
    </a>
    <a class="sidebar-nav-item" href="http://twitter.com/am_i_tom">
      <i class="fa fa-twitter fa-lg fa-fw"></i> Twitter
    </a>
    <a class="sidebar-nav-item" href="http://stackoverflow.com/users/4022180/tom">
      <i class="fa fa-stack-overflow fa-lg fa-fw"></i> Stack Overflow
    </a>
  </nav>

  <h2 class="sidebar-nav-title">
    Collections
  </h2>
  <nav class="sidebar-nav" role="navigation">
    <a class="sidebar-nav-item" href="/fantasy-land">
      Fantas, Eel, and Specification
    </a>
    <a class="sidebar-nav-item" href="/dependable-types">
      Dependable Types
    </a>
  </nav>

  <footer class="sidebar-item" role="contentinfo">
    Tom &hearts;
    <a href="http://lanyon.getpoole.com/">Lanyon</a>
  </footer>
</div>
